.Menu {
    display: none;
    width: 800px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 64px;
    color: #000000;
    padding: 30px;
    cursor: auto;
    &:hover {
        display: block;
    }

    .Menu-top {
        display: flex;
        align-items: baseline;
        h2{
            font-size: 1.5rem;
            letter-spacing: 0.6rem;
            text-transform: uppercase;
            font-weight: 500;
            color: var(--color-secundary);
        }
        p{
            font-size: 0.8rem;
            font-weight:500;
            cursor: pointer;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        li {
            font-size: 14px;
            margin-bottom: 8px;
          
            cursor: pointer;
            span {
                width: 80px;
                display: block;
                height: 2px;
                background-color: var(--color-secundary);
                transform-origin: left 100%;
                transform: scaleX(0);
                transition: all 0.4s ease-in;
            }
            &:hover > span{
                transform: scaleX(1);
            }
        }
    }

}