@import './media-queries';
.Product{
    width: 100%;
    max-width: 96rem;
    margin-top: 64px;
    height: auto;
    padding: 40px 20px 0 20px;

    display: flex;
    justify-content: center;
    .ProductGallery{
        width: 60%;
      
    }
    .ProductDetails{
        width: 40%;
    }
    
}
@include mobile{
    .Product{
        flex-direction: column;
        padding: 40px 0;
        .ProductGallery{
            width: 100%;
            margin-bottom: 20px;
        }
        .ProductDetails{
            width: 100%;
           
        }
    }
    
}