.SideCart{
    width:85%;
    max-width: 400px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    z-index: 20;

    &.expanded{
        transform: translate3d(0%,0px,0px);
        pointer-events: auto;
     
    }
    &.collapsed{
        transform: translate3d(100%,0px,0px);
        pointer-events: none;
  
    }


    .sc-top{
        display: flex;
        justify-content: space-between;
        color: var(--color-primary);
        font-weight: 700;
        letter-spacing: 0.05em;
        border-bottom: 1px solid #d6d6d6;
        margin: 0 15px;
        padding: 16px 0;
        button{
            background: none;
            border: none;
            font-weight: 700; 
            font-size: 16px;
            padding: 0 10px;         
            cursor: pointer;  
        }
    }
    .sc-content{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .sc-list-item-cart{
            
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            .list{
                height: 50%;
        
                padding: 16px 16px 0 16px;
            }
            .details{
                 height: 50%;
           

            }
        }
    }
}